  <tr class ="even:bg-gray-300">
    <td class="text-middle text-center py-2"><%=board_counter + 1%></td>
    <td class="text-left py-2"><%=pretty_hand(board.hands[:north])%></td>
    <td class="text-left py-2"><%=pretty_hand(board.hands[:south])%></td>
    <td class="text-left py-2"><%=pretty_hand(board.hands[:east])%></td>
    <td class="text-left py-2"><%=pretty_hand(board.hands[:west])%></td>
  </tr>
