<% animate ||= false -%>
<tr id="<%=dom_id(tournament)%>_row" <% if animate -%>class="animate-pulse-bg-once from-transparent to-green-600"<% end -%>>
  <td class="text-left py-3 px-4">
    <%= l tournament.tourney_date %>
  </td>
  <td class="text-left py-3 px-4">
    <%= link_to tournament.short_guid, tournament, class: 'hyperlink', data: { "turbo-stream": 'true'} %>
  </td>
  <td class="text-left py-3 px-4">
    <%= tournament.name %>
  </td>
  <td class="text-left py-3 px-4">
    <%= tournament.entries.size %>
  </td>
</tr>
