<tr>
  <td class="text-left py-3 px-4">
    <%= board.number %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.played_at %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.north %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.south %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.east %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.west %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.result %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.points %>
  </td>
  <td class="text-left py-3 px-4">
    <%= board.score %>
  </td>
</tr>
